.blog-nh-desktop-child {
  position: absolute;
  top: -187px;
  left: 41px;
  width: 1011px;
  height: 6646px;
}
.blog-1-1,
.blog-nh-desktop-item {
  position: absolute;
  top: -305px;
  left: 41px;
  width: 1517px;
  height: 5983px;
}
.blog-1-1 {
  top: 92px;
  left: 0;
  width: 100%;
  height: 375px;
  object-fit: cover;
}
.blog-nh-desktop-inner {
  position: absolute;
  top: 701.25px;
  left: 40.25px;
  border-top: 1.5px solid var(--color-black);
  box-sizing: border-box;
  width: 1012.5px;
  height: 1.5px;
}
.blog-nh-desktop-child1,
.blog-nh-desktop-child2 {
  position: absolute;
  top: 1546px;
  left: 560px;
  border-radius: var(--br-8xs);
  width: 490px;
  height: 330px;
  object-fit: cover;
}
.blog-nh-desktop-child2 {
  top: 733px;
  left: 41px;
  width: 1009px;
  height: 673px;
}
.hot-nht- {
  position: absolute;
  top: 666px;
  left: 41px;
  font-size: var(--font-size-6xl);
  display: inline-block;
  color: var(--color-black);
  text-align: left;
  width: 597px;
  height: 36px;
}
.blog-nh-desktop-child3 {
  position: absolute;
  top: 1144px;
  left: 41px;
  background-color: var(--color-gray-600);
  width: 523px;
  height: 231px;
}
.blog-nh-desktop-child4 {
  position: absolute;
  top: 1176px;
  left: 273px;
  border-radius: 50%;
  background-color: var(--color-black);
  width: 47px;
  height: 47px;
}
.div3 {
  position: absolute;
  top: 1182px;
  left: 282px;
  font-size: var(--font-size-6xl);
  color: var(--color-gray-600);
  text-align: center;
  display: inline-block;
  width: 29px;
  height: 38px;
}
.blog-nh-desktop-child5 {
  position: absolute;
  top: 1546px;
  left: 41px;
  border-radius: var(--br-8xs);
  width: 494px;
  height: 330px;
  object-fit: cover;
}
.sharing-love,
.sharing-love1 {
  position: absolute;
  top: 1496px;
  left: 41px;
  color: var(--color-black);
  display: inline-block;
  width: 476px;
  height: 110px;
}
.sharing-love1 {
  top: 1437px;
  left: 80px;
  font-size: var(--font1-size);
  text-align: left;
  width: 399px;
  height: 18px;
}
.div4,
.frame-item {
  position: absolute;
  height: 31.98px;
}
.frame-item {
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-black);
  width: 31.98px;
}
.div4 {
  top: 2px;
  left: 4px;
  display: inline-block;
  width: 24.87px;
}
.ellipse-parent {
  position: absolute;
  top: 1433px;
  left: 41px;
  width: 31.98px;
  height: 33.98px;
  text-align: center;
  font-size: var(--font1-size);
  color: var(--color-gray-600);
}
.top-3-phong,
.trang-phc-ca {
  position: absolute;
  top: 1496px;
  left: 560px;
  color: var(--color-black);
  display: inline-block;
  width: 490px;
  height: 50px;
}
.top-3-phong {
  top: 1430px;
  left: 602px;
  font-size: var(--font1-size);
  width: 448px;
}
.div5,
.frame-inner {
  position: absolute;
  height: 29.77px;
}
.frame-inner {
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-black);
  width: 31.16px;
}
.div5 {
  top: 3.31px;
  left: 3.46px;
  display: inline-block;
  width: 24.23px;
}
.ellipse-group {
  position: absolute;
  top: 1433px;
  left: 560px;
  width: 31.16px;
  height: 33.08px;
  text-align: center;
  font-size: var(--font1-size);
  color: var(--color-gray-600);
}
.crazy-sale,
.crazy-sale- {
  position: absolute;
  top: 1305px;
  left: 83px;
  color: var(--color-black);
  display: inline-block;
  width: 422px;
  height: 101px;
}
.crazy-sale {
  top: 1240px;
  left: 84px;
  font-size: var(--font1-size);
  width: 426px;
  height: 102px;
}
.blog-nh-desktop-child6,
.blog-nh-desktop-child7 {
  position: absolute;
  top: 1909px;
  left: -8px;
  background-color: var(--color-black);
  width: 1608px;
  height: 562px;
}
.blog-nh-desktop-child7 {
  top: 905px;
  left: 1770px;
  width: 304px;
  height: 106px;
}
.o-phng-trn {
  top: 2314px;
  left: 96px;
  font-size: var(--font1-size);
  width: 447px;
  height: 47px;
}
.din-ra-duy,
.o-phng-trn,
.sn-phm-hot1 {
  position: absolute;
  display: inline-block;
}
.sn-phm-hot1 {
  top: 4011px;
  left: 35px;
  font-size: var(--font-size-6xl);
  color: var(--color-black);
  text-align: left;
  width: 384px;
  height: 48px;
}
.din-ra-duy {
  top: 2373px;
  left: 96px;
  width: 450.43px;
  height: 130.89px;
}
.din-ra-duy1,
.o-phng-trn1 {
  position: absolute;
  left: 570px;
  display: inline-block;
}
.o-phng-trn1 {
  top: 2314px;
  font-size: var(--font1-size);
  width: 447px;
  height: 47px;
}
.din-ra-duy1 {
  top: 2373px;
  width: 450.43px;
  height: 130.89px;
}
.blog-nh-desktop-child8 {
  position: absolute;
  top: 1963.25px;
  left: 91.25px;
  border-top: 1.5px solid var(--color-white);
  box-sizing: border-box;
  width: 1426.5px;
  height: 1.5px;
}
.blog-nh-desktop-child9 {
  position: absolute;
  top: 4045.5px;
  left: 36px;
  width: 1500px;
  height: 2.5px;
  object-fit: cover;
}
.bi-vit-mi1 {
  position: absolute;
  top: 1925.4px;
  left: 484.88px;
  font-size: var(--font-size-6xl);
  text-align: center;
  display: inline-block;
  width: 635.22px;
  height: 38.5px;
}
.image-1-icon,
.image-2-icon,
.image-3-icon1 {
  position: absolute;
  top: 1987.09px;
  left: 92.2px;
  border-radius: var(--br-8xs);
  width: 469.68px;
  height: 315.68px;
  object-fit: cover;
}
.image-2-icon,
.image-3-icon1 {
  left: 569.57px;
}
.image-3-icon1 {
  left: 1046.95px;
}
.blog-nh-desktop-child10 {
  position: absolute;
  top: 2122.51px;
  left: 55.55px;
  width: 16.73px;
  height: 29.46px;
  object-fit: cover;
}
.blog-nh-desktop-child11,
.image-4-icon {
  position: absolute;
  top: 2164.69px;
  left: 1532.1px;
  width: 17.33px;
  height: 29.43px;
  object-fit: cover;
}
.image-4-icon {
  top: 2597px;
  left: 35px;
  width: 372px;
  height: 251px;
}
.blog-nh-desktop-child12 {
  position: absolute;
  top: 2504px;
  left: 35px;
  background-color: transparent;
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 378px;
  height: 76px;
}
.blog-nh-desktop-child13,
.blog-nh-desktop-child14,
.blog-nh-desktop-child15 {
  position: absolute;
  top: 2504px;
  left: 1170px;
  background-color: var(--color-black);
  width: 378px;
  height: 76px;
}
.blog-nh-desktop-child14,
.blog-nh-desktop-child15 {
  left: 791px;
  width: 379px;
}
.blog-nh-desktop-child15 {
  left: 413px;
  width: 378px;
}
.khm-ph1,
.khuyn-mi1,
.s-kin1,
.xu-hng1 {
  position: absolute;
  top: 2516px;
  font-size: var(--font-size-5xl);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 378px;
  height: 52px;
}
.xu-hng1 {
  left: 26px;
  color: var(--color-black);
}
.khm-ph1,
.khuyn-mi1,
.s-kin1 {
  left: 1165px;
}
.khm-ph1,
.s-kin1 {
  left: 782px;
  width: 379px;
}
.khm-ph1 {
  left: 404px;
  width: 378px;
}
.blog-nh-desktop-child16 {
  position: absolute;
  top: 2711px;
  left: 35px;
  background: linear-gradient(
    -3.46deg,
    rgba(0, 0, 0, 0.46) 20.83%,
    transparent 51.04%
  );
  width: 372px;
  height: 137px;
}
.cch-phi-o1 {
  position: absolute;
  top: 2776px;
  left: 42px;
  display: inline-block;
  width: 306px;
  height: 56px;
}
.image-7-icon {
  position: absolute;
  top: 2597px;
  left: 414px;
  width: 372px;
  height: 251px;
  object-fit: cover;
}
.div6 {
  position: absolute;
  top: 2823px;
  left: 41px;
  font-size: var(--font-size-xs);
  display: inline-block;
  width: 121px;
  height: 25px;
}
.blog-nh-desktop-child17 {
  position: absolute;
  top: 2711px;
  left: 414px;
  background: linear-gradient(
    -3.46deg,
    rgba(0, 0, 0, 0.46) 20.83%,
    transparent 51.04%
  );
  width: 372px;
  height: 137px;
}
.div7,
.nhng-iu-bn {
  position: absolute;
  left: 426px;
  display: inline-block;
}
.nhng-iu-bn {
  top: 2780px;
  text-decoration: underline;
  font-weight: 700;
  color: inherit;
  width: 338px;
  height: 52px;
}
.div7 {
  top: 2823px;
  font-size: var(--font-size-xs);
  width: 134px;
  height: 25px;
}
.image-5-icon {
  position: absolute;
  top: 2851px;
  left: 35px;
  width: 372px;
  height: 251px;
  object-fit: cover;
}
.blog-nh-desktop-child18 {
  position: absolute;
  top: 2969px;
  left: 35px;
  background: linear-gradient(
    -3.46deg,
    rgba(0, 0, 0, 0.46) 20.83%,
    transparent 51.04%
  );
  width: 372px;
  height: 133px;
}
.cho-thu-cng,
.div8 {
  position: absolute;
  top: 3035px;
  left: 42px;
  display: inline-block;
  width: 306px;
  height: 47px;
}
.div8 {
  top: 3082px;
  left: 41px;
  font-size: var(--font-size-xs);
  width: 125px;
  height: 24px;
}
.blog-nh-desktop-child19,
.image-9-icon {
  position: absolute;
  left: 414px;
  width: 372px;
}
.image-9-icon {
  top: 2851px;
  height: 251px;
  object-fit: cover;
}
.blog-nh-desktop-child19 {
  top: 2961px;
  background: linear-gradient(
    -3.46deg,
    rgba(0, 0, 0, 0.46) 20.83%,
    transparent 51.04%
  );
  height: 141px;
}
.cht-liu-canvas,
.div9 {
  position: absolute;
  left: 426px;
  display: inline-block;
}
.cht-liu-canvas {
  top: 3035px;
  text-decoration: underline;
  font-weight: 700;
  color: inherit;
  width: 306px;
  height: 51px;
}
.div9 {
  top: 3075px;
  font-size: var(--font-size-xs);
  width: 142px;
  height: 23px;
}
.image-10-icon {
  position: absolute;
  top: 2597px;
  left: 795px;
  width: 373px;
  height: 251px;
  object-fit: cover;
}
.blog-nh-desktop-child20 {
  position: absolute;
  top: 2711px;
  left: 795px;
  background: linear-gradient(
    -3.46deg,
    rgba(0, 0, 0, 0.46) 20.83%,
    transparent 51.04%
  );
  width: 373px;
  height: 137px;
}
.div10,
.nhng-iu-bn1 {
  position: absolute;
  left: 807px;
  font-size: var(--font-size-xs);
  display: inline-block;
}
.nhng-iu-bn1 {
  top: 2780px;
  text-decoration: underline;
  font-weight: 700;
  color: inherit;
  width: 337px;
  height: 52px;
}
.div10 {
  top: 2823px;
  width: 133px;
  height: 25px;
}
.image-12-icon {
  position: absolute;
  top: 2851px;
  left: 795px;
  width: 373px;
  height: 251px;
  object-fit: cover;
}
.blog-nh-desktop-child21 {
  position: absolute;
  top: 2961px;
  left: 795px;
  background: linear-gradient(
    -3.46deg,
    rgba(0, 0, 0, 0.46) 20.83%,
    transparent 51.04%
  );
  width: 373px;
  height: 141px;
}
.cht-liu-canvas1,
.div11 {
  position: absolute;
  left: 807px;
  display: inline-block;
}
.cht-liu-canvas1 {
  top: 3035px;
  text-decoration: underline;
  font-weight: 700;
  color: inherit;
  width: 306px;
  height: 51px;
}
.div11 {
  top: 3075px;
  font-size: var(--font-size-xs);
  width: 141px;
  height: 23px;
}
.blog-nh-desktop-child22,
.image-13-icon {
  position: absolute;
  left: 1176px;
  width: 372px;
}
.image-13-icon {
  top: 2597px;
  height: 251px;
  object-fit: cover;
}
.blog-nh-desktop-child22 {
  top: 2711px;
  background: linear-gradient(
    -3.46deg,
    rgba(0, 0, 0, 0.46) 20.83%,
    transparent 51.04%
  );
  height: 137px;
}
.div12,
.nhng-iu-bn2 {
  position: absolute;
  left: 1187px;
  display: inline-block;
}
.nhng-iu-bn2 {
  top: 2780px;
  text-decoration: underline;
  font-weight: 700;
  color: inherit;
  width: 337px;
  height: 52px;
}
.div12 {
  top: 2823px;
  font-size: var(--font-size-xs);
  width: 133px;
  height: 25px;
}
.image-18-icon {
  position: absolute;
  top: 3108px;
  left: 35px;
  width: 372px;
  height: 251px;
  object-fit: cover;
}
.blog-nh-desktop-child23 {
  position: absolute;
  top: 3223px;
  left: 35px;
  background: linear-gradient(
    -3.46deg,
    rgba(0, 0, 0, 0.46) 20.83%,
    transparent 51.04%
  );
  width: 372px;
  height: 136px;
}
.cch-phi-o2 {
  position: absolute;
  top: 3289px;
  left: 42px;
  display: inline-block;
  width: 306px;
  height: 54px;
}
.image-19-icon {
  position: absolute;
  top: 3108px;
  left: 414px;
  width: 372px;
  height: 251px;
  object-fit: cover;
}
.div13 {
  position: absolute;
  top: 3336px;
  left: 41px;
  font-size: var(--font-size-xs);
  display: inline-block;
  width: 121px;
  height: 23px;
}
.blog-nh-desktop-child24 {
  position: absolute;
  top: 3223px;
  left: 414px;
  background: linear-gradient(
    -3.46deg,
    rgba(0, 0, 0, 0.46) 20.83%,
    transparent 51.04%
  );
  width: 372px;
  height: 136px;
}
.div14,
.nhng-iu-bn3 {
  position: absolute;
  left: 426px;
  display: inline-block;
}
.nhng-iu-bn3 {
  top: 3292px;
  text-decoration: underline;
  font-weight: 700;
  color: inherit;
  width: 338px;
  height: 51px;
}
.div14 {
  top: 3336px;
  font-size: var(--font-size-xs);
  width: 134px;
  height: 23px;
}
.image-20-icon {
  position: absolute;
  top: 3108px;
  left: 795px;
  width: 373px;
  height: 251px;
  object-fit: cover;
}
.blog-nh-desktop-child25 {
  position: absolute;
  top: 3223px;
  left: 795px;
  background: linear-gradient(
    -3.46deg,
    rgba(0, 0, 0, 0.46) 20.83%,
    transparent 51.04%
  );
  width: 373px;
  height: 136px;
}
.div15,
.nhng-iu-bn4 {
  position: absolute;
  left: 807px;
  display: inline-block;
}
.nhng-iu-bn4 {
  top: 3292px;
  text-decoration: underline;
  font-weight: 700;
  color: inherit;
  width: 337px;
  height: 51px;
}
.div15 {
  top: 3336px;
  font-size: var(--font-size-xs);
  width: 133px;
  height: 23px;
}
.blog-nh-desktop-child26,
.image-21-icon {
  position: absolute;
  left: 1176px;
  width: 372px;
}
.image-21-icon {
  top: 3108px;
  height: 251px;
  object-fit: cover;
}
.blog-nh-desktop-child26 {
  top: 3223px;
  background: linear-gradient(
    -3.46deg,
    rgba(0, 0, 0, 0.46) 20.83%,
    transparent 51.04%
  );
  height: 136px;
}
.div16,
.nhng-iu-bn5 {
  position: absolute;
  left: 1187px;
  display: inline-block;
}
.nhng-iu-bn5 {
  top: 3292px;
  text-decoration: underline;
  font-weight: 700;
  color: inherit;
  width: 337px;
  height: 51px;
}
.div16 {
  top: 3336px;
  font-size: var(--font-size-xs);
  width: 133px;
  height: 23px;
}
.blog-nh-desktop-child27,
.image-15-icon {
  position: absolute;
  left: 1176px;
  width: 372px;
}
.image-15-icon {
  top: 2851px;
  height: 251px;
  object-fit: cover;
}
.blog-nh-desktop-child27 {
  top: 2961px;
  background: linear-gradient(
    -3.46deg,
    rgba(0, 0, 0, 0.46) 20.83%,
    transparent 51.04%
  );
  height: 141px;
}
.cht-liu-canvas2,
.div17 {
  position: absolute;
  left: 1187px;
  display: inline-block;
}
.cht-liu-canvas2 {
  top: 3035px;
  text-decoration: underline;
  font-weight: 700;
  color: inherit;
  width: 306px;
  height: 51px;
}
.div17 {
  top: 3075px;
  font-size: var(--font-size-xs);
  width: 140px;
  height: 23px;
}
.blog-nh-desktop-child28 {
  position: absolute;
  top: 3417px;
  left: 35px;
  border-radius: var(--br-6xs);
  background-color: var(--color-darkslategray-100);
  width: 100%;
  height: 556px;
}
.n-u-xu {
  position: absolute;
  top: 3573px;
  left: 108px;
  font-size: var(--font-size-16xl);
  display: inline-block;
  text-align: center;
  width: 244px;
  height: 241px;
}
.image-16-icon {
  position: absolute;
  top: 3417px;
  left: 457px;
  border-radius: var(--br-6xs);
  width: 1091px;
  height: 556px;
  object-fit: cover;
}
.blog-nh-desktop-child29,
.blog-nh-desktop-child30,
.image-17-icon {
  position: absolute;
  top: 3690.91px;
  left: 1511.91px;
  width: 25.09px;
  height: 44.18px;
  object-fit: cover;
}
.blog-nh-desktop-child30,
.image-17-icon {
  left: 502px;
}
.image-17-icon {
  top: 4064px;
  left: 35px;
  width: 1513px;
  height: 656px;
}
.frame-child1,
.hot {
  position: relative;
  height: 27.54px;
}
.frame-child1 {
  border-radius: var(--br-11xs);
  background-color: var(--color-red);
  width: 64.7px;
}
.hot {
  display: inline-block;
  width: 80.88px;
  flex-shrink: 0;
  margin-top: -27px;
}
.frame-div,
.rectangle-parent40 {
  position: absolute;
  top: 4072.49px;
  left: 1463.07px;
  width: 80.88px;
  height: 27.54px;
  display: flex;
  flex-direction: column;
  padding: 0 0 0 8.088239669799805px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
  font-size: var(--font1-size);
}
.rectangle-parent40 {
  left: 1078.89px;
}
.frame-child3 {
  position: absolute;
  top: 0;
  left: 384.19px;
  border-radius: var(--br-11xs);
  background-color: var(--color-red);
  width: 64.7px;
  height: 27.54px;
}
.hot2,
.rectangle-parent42 {
  position: absolute;
  top: 0;
  width: 80.88px;
  height: 27.54px;
}
.hot2 {
  left: 380.14px;
  display: inline-block;
}
.rectangle-parent42 {
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 0 0 0 8.088047981262207px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-end;
}
.rectangle-parent41 {
  position: absolute;
  top: 4072.49px;
  left: 318.61px;
  width: 461.02px;
  height: 27.54px;
  text-align: center;
  font-size: var(--font1-size);
}
.frame-child10,
.frame-child5,
.frame-child6,
.frame-child7,
.frame-child8,
.frame-child9 {
  position: absolute;
  top: 8.96px;
  left: 26.07px;
  width: 7.32px;
  height: 12.89px;
  object-fit: cover;
}
.frame-child10,
.frame-child6,
.frame-child7,
.frame-child8,
.frame-child9 {
  left: 241.87px;
}
.frame-child10,
.frame-child7,
.frame-child8,
.frame-child9 {
  left: 272.67px;
}
.frame-child10,
.frame-child8,
.frame-child9 {
  left: 264.97px;
}
.frame-child10,
.frame-child9 {
  left: -0.87px;
}
.frame-child10 {
  left: 6.82px;
}
.div18,
.div19,
.div20,
.wrapper {
  display: flex;
  justify-content: center;
}
.div18 {
  position: relative;
  align-items: center;
  width: 23.1px;
  height: 23.1px;
  flex-shrink: 0;
}
.div19,
.div20,
.wrapper {
  top: 0;
}
.wrapper {
  position: absolute;
  left: 57.75px;
  background-color: var(--color-black);
  width: 30.8px;
  height: 30.8px;
  flex-direction: column;
  padding: 0 0.000017288581148022786px;
  box-sizing: border-box;
  align-items: flex-start;
  color: var(--color-white);
}
.div19,
.div20 {
  align-items: center;
  width: 38.5px;
}
.div19 {
  position: absolute;
  left: 100.09px;
  height: 30.8px;
}
.div20 {
  left: 150.14px;
}
.div20,
.div21,
.vector-parent {
  position: absolute;
  height: 30.8px;
}
.div21 {
  top: 0;
  left: 192.49px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38.5px;
}
.vector-parent {
  top: 3381px;
  left: 660px;
  width: 279.11px;
  text-align: center;
  color: var(--color-black);
}
.din-ra-duy2,
.o-phng-trn2 {
  position: absolute;
  left: 1047px;
  display: inline-block;
}
.o-phng-trn2 {
  top: 2314px;
  font-size: var(--font1-size);
  width: 447px;
  height: 47px;
}
.din-ra-duy2 {
  top: 2373px;
  width: 450.43px;
  height: 130.89px;
}
.screencapture-routine-vn-tin-t-icon {
  position: absolute;
  top: 5507px;
  left: 1px;
  width: 100%;
  height: 395px;
  object-fit: cover;
}
.image-26-icon,
.lu-voucher-1-1 {
  position: absolute;
  object-fit: cover;
}
.image-26-icon {
  top: 1201px;
  left: 1083px;
  border-radius: var(--br-8xs);
  width: 475px;
  height: 675px;
}
.lu-voucher-1-1 {
  top: 733px;
  left: 1084px;
  width: 474px;
  height: 449px;
}
.women-1-1,
.women-1-icon,
.women-2-icon {
  position: absolute;
  top: 4834px;
  left: 554px;
  width: 493px;
  height: 657px;
  object-fit: cover;
}
.women-1-1,
.women-2-icon {
  left: 42px;
  width: 492px;
}
.women-1-1 {
  left: 1066px;
  width: 491px;
}
.xem-ngay1 {
  position: relative;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 109px;
  height: 18px;
  flex-shrink: 0;
}
.xem-ngay-container,
.xem-ngay-frame,
.xem-ngay-wrapper {
  position: absolute;
  top: 5373px;
  left: 205px;
  border-radius: var(--br-2xs);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 165px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.xem-ngay-container,
.xem-ngay-frame {
  left: 718px;
}
.xem-ngay-frame {
  left: 1229px;
}
.image-24-icon,
.image-28-icon {
  position: absolute;
  top: 1807px;
  left: 1558px;
  width: 42px;
  height: 84px;
  object-fit: cover;
}
.image-24-icon {
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
}
.frame-child11,
.frame-child12,
.frame-child13,
.frame-child14 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-mini);
  background-color: var(--color-whitesmoke-100);
  width: 365.77px;
  height: 54.26px;
}
.frame-child12,
.frame-child13,
.frame-child14 {
  left: 1151.23px;
}
.frame-child13,
.frame-child14 {
  left: 770.05px;
}
.frame-child14 {
  left: 385.02px;
}
.khm-ph2,
.khuyn-mi2,
.s-kin2,
.xu-hng2 {
  position: absolute;
  top: 8.11px;
  left: 46.2px;
  display: inline-block;
  width: 234.87px;
  height: 43.41px;
}
.khm-ph2,
.khuyn-mi2,
.s-kin2 {
  left: 1185.88px;
  width: 273.37px;
  height: 48.84px;
}
.khm-ph2,
.s-kin2 {
  left: 446.63px;
  width: 234.87px;
  height: 43.41px;
}
.s-kin2 {
  left: 827.8px;
}
.frame-child15,
.frame-child16,
.frame-child17,
.frame-child18 {
  position: absolute;
  top: 21.51px;
  left: 308.52px;
  width: 22.09px;
  height: 12.55px;
  object-fit: cover;
}
.frame-child16,
.frame-child17,
.frame-child18 {
  left: 1459.75px;
}
.frame-child17,
.frame-child18 {
  left: 1078.58px;
}
.frame-child18 {
  left: 693.55px;
}
.rectangle-parent43,
.tin-thi-trang1 {
  position: absolute;
  top: 573.4px;
  left: 41px;
  width: 1517px;
  height: 56.95px;
  text-align: center;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
}
.tin-thi-trang1 {
  top: 505px;
  left: 531px;
  font-size: var(--font-size-16xl);
  font-weight: 800;
  font-family: var(--font-lato);
  display: inline-block;
  width: 538px;
  height: 60px;
}
.blog-nh-desktop {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 5902px;
  overflow: hidden;
  text-align: justify;
  font-size: var(--font-size);
  color: var(--color-white);
  font-family: var(--font-lexend-deca);
}
